---
title: Case Studies
permalink: /case-studies/
navOrder: 3
tags: page
---

This is the index page for case studies.


{% for caseStudy in collections["case-study"] | sort(false, false, "data.navOrder") %}
    <article>
        <h2><a href="{{ caseStudy.data.permalink }}">{{ caseStudy.data.title }}</a></h2>    
    </article>
{% endfor %}
