main * + * {
  margin-top: 1em;
  margin-bottom: 0;
}

.page-container {
  max-width: var(--container-width);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-bottom: var(--spacing);
}
