header {
  border-bottom: var(--border-width) solid var(--text);
  ul {
    display: flex;
    gap: var(--spacing);
    justify-content: space-between;
    align-content: end;
    padding-inline: var(--spacing);
  }
  li {
    text-align: center;
  }
  a {
    text-decoration: none;

    &[aria-current="page"]::after {
      content: "•";
      display: block;
      text-align: center;
      margin-top: -0.75em;
      margin-bottom: -1em;
    }

    &[aria-current="true"]::after {
      content: "◦";
      display: block;
      text-align: center;
      margin-top: -0.75em;
      margin-bottom: -1em;
    }
  }
}

footer {
  border-top: var(--border-width) solid var(--text);
  text-align: center;
  margin-top: auto;
  padding: var(--spacing);
}

/* same width as var(--container-width) */
@media (width > 800px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing);
    .card + .card {
      margin: 0;
    }
    .card:last-child {
      grid-column: 1 / 3;
    }
  }
}

.card {
  border-radius: var(--border-radius);
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px var(--divider);
  * {
    margin: 0;
  }
  li {
    margin-top: 0.5em;
  }
  li::marker {
    content: "- ";
  }
}

.button {
  color: currentColor;
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
