main {
  margin-bottom: var(--spacing);
}

main * + * {
  margin-top: 1em;
  margin-bottom: 0;
}

.page-container {
  min-height: 100vh;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--spacing);
  display: flex;
  flex-direction: column;
}

.title {
  border-bottom: var(--border-width) solid var(--text);
  padding-bottom: 2rem;
  & + * {
    margin-top: var(--spacing);
  }
}
